.headerSection {
  width: 100%;
  border-bottom: 1px solid #f2f4f7;
  background-color: #f7f7f7;
}

.container {
  width: 100%;
  max-width: 1440px;
  height: 72px;
  margin: 0 auto;
  padding-left: 63px;
  padding-right: 64px;

  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.headerNav {
  margin: 0 auto;
  display: flex;
  gap: 32px;
}

.navLink {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #101828;
  cursor: pointer;
}

.active {
  color: #829b91;
}
