.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;

  /* outline: 1px solid red; */

  display: flex;
  align-items: center;
}
.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 0.66667;
  color: #f7f7f7;
  font-family: 'Inter', sans-serif;
  margin-bottom: 16px;
}
.text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: #f7f7f7;
  font-family: 'Inter', sans-serif;
  margin-bottom: 40px;
}
.catalogLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: #fff;
  font-family: 'Inter', sans-serif;
  border-radius: 200px;
  width: 173px;
  height: 56px;
  background-color: #829b91;

  display: flex;
  justify-content: center;
  align-items: center;
}
.heroText {
  position: absolute;
  top: 225px;
  left: 60px;
  text-align: center;
}
.wrapper {
  position: relative;
}
